## Matches all files and directories with that name
*.log
/.idea
.DS_Store
/cmake-*

## Matches from the root directory
# /debug.log

## Matches all logs in the given directory structure
# **/dir/logs
